/* CSS RESET */

* {
  margin: 0px;
  padding: 0px; 
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  color: #222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Super-info */

.superinfo-bg {
  background: #122ab2;
  color: #fff;
}

.superinfo {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
}

.super-info p, .super-info a {
  margin: 0 10px 10px 10px;
}

.superinfo a {
  color: #fff;
}

/* Menu */

.menu-bg {
  background: #2c70ff;
}

.menu {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.menu a {
  color: #fff;
}

.menu-logo a {
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0 10px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 1.25rem;
  display: block;
  padding: 10px;
}

.menu-nav a:hover {
  color: #122ab2;
}

/* Introdução */

.introducao {
  font-size: 3rem;
  line-height: 1;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 10px;
}
.introducao span {
  display: block;
}